.app {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #f7f7f7;
  .app-title {
    margin: 0;
    position: absolute;
    top: calc(100% - 2rem);
    left: 2rem;
    font-size: 3rem;
    font-style: italic;
    color: #0984e3;
    transform: rotate(270deg);
    transform-origin: left top 0;
  }
}

.grid__container {
  display: grid;
  grid: repeat(10, 5rem) / repeat(10, 5rem);
  justify-content: center;
  align-content: center;
  grid-gap: 1px;
  background: #dfe6e9;
  .grid__item {
    background: #f7f7f7;
  }
}
